* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #EAEEF0;
}

header {
  background-color: #003059;
  padding: 1.2rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  color: #fff;
}

.item-header {
  display: flex;
  gap: 1rem;
}

.item-header a {
  font-size: .825rem;
  color: #fff;
}

.item-header a:hover {
  text-decoration: underline;
}

.icon-adm {
  cursor: pointer;
}

.subnavbar {
  background-color: #0060A0;
}

.navbar {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .325rem 0;
}

.logo {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.search {
  border: 1px solid #4fd0f7;
  border-radius: 12px;
  color: #fff;
  padding: .825rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

#search {
  width: 12rem;
  border: none;
  background-color: #0060A0;
  outline: none;
  color: #fff;
}

#search::placeholder {
  color: #fff;
}

.navbar-info {
  background-color: #fff;
  padding: 1.5rem 0;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -30px;
}

.info-item {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

#btn {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.items {
  position: relative;
  display: flex;
  gap: .425rem;
  align-items: center;
}

.items p {
  font-size: 1rem;
  font-weight: bold;
  color: #005e42;
}

.vertical-line {
  width: 1px;
  height: 30px; 
  background-color: #CCE9E1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 20px;
}

.dropdown-content li a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
}

.items:hover .dropdown-content {
  display: block;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #ccc;
}

.slick-dots li.slick-active button:before {
  color: blue;
}

.slick-dots li {
  margin: 0 5px;
}

.custom-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
}

.slick-dots li.slick-active .custom-dot {
  background-color: blue;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  color: blue;
  background: none;
}

.slider-container {
  width: 85%;
  overflow: hidden;
  margin: 0 auto;
  padding: 2rem;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-banner {
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
}

.news {
  width: 85%;
  margin: 0 auto;
  padding: 2rem 0;
}

.line {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 2px;
  background-color: #B4BCC1;
  margin: .625rem 0;
}

.newsletter {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.news-left {
  width: 80%;
}

.news-left img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.info-news {
  display: flex;
  flex-direction: column;
  gap: .625rem;
}

.news-rigth {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.news-item {
  width: 100%;
  flex: 1 1 calc(50% - 1rem);
}

.news-item img {
  width: 100%;
  border-radius: 10px;
}

.card-info {
  background: linear-gradient(272.79deg, #003059 -52.65%, #0060A0 63.93%);
  padding: 1rem 0;
  text-align: center;
  color: #fff;
}

.card-info h2 {
  font-family: "Reddit Sans", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 44px;
}

#italic {
  font-style: italic;
  font-weight: 800;
  text-decoration: underline;
}

.text-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-info p {
  color: #FFDD42;
  font-size: 3rem;
  margin-top: 1rem;
  font-family: "Reenie Beanie", cursive;
}

.btn-sign {
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background: #FFC700;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  padding: .225rem;
  margin: 0 auto;
}

.youtube {
  width: 85%;
  margin: 1rem auto;
  padding: 2rem;
  background-color: #0060A0;
  border-radius: 10px;
  color: #fff;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.cards-info {
  padding: 2rem 0;
  width: 100%;
}

.cards-info img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.identidade {
  width: 85%;
  margin: 0 auto;
  margin-top: 2rem;
}

.cards-carteira {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
.btn-pro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.btn-pro:hover {
  background-color: #0056b3;
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  text-align: left;
}

.modal-content > h2 {
  margin-bottom: 1rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 85%;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: #003059;
}

.info-footer {
  display: flex;
  flex-direction: column;
  gap: .425rem;
  color: #fff !important;
}

.info-footer a, p {
  color: gray;
}

.cards-info h3 {
  color: #fff !important;
}

/* ABOUT - 2° PÁGINA */

.container-about {
  width: 85%;
  padding: 2rem 0;
  margin: 0 auto;
}

.about {
  width: 100%;
  text-align: justify;
}

.container-publication {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0;
  text-align: center;
}

.footer {
  background-color: #003059;
}

/* CONTACT - 2° PÁGINA */

.contact-container {
  max-width: 600px;
  margin: 1rem auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #003059;
}

.contact-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #0060A0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #0060A0;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #004a7c;
}

/*ABA PARCERIAS */

.partner {
  width: 85%;
  margin: 0 auto;
  padding: 2rem 0;
}

.partner-info {
  padding: 2rem 0;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza os cards */
}

.image-container {
  width: 100%; /* Permite que os cards ocupem toda a largura disponível */
  display: flex;
  flex-wrap: wrap; /* Permite que os cards quebrem a linha */
  gap: 1rem; /* Espaço entre os cards */
  justify-content: center; /* Centraliza os cards */
}

.image-card {
  width: 170px; /* Largura dos cards, ajuste conforme necessário */
  height: 150px; /* Altura dos cards, ajuste conforme necessário */
  border-radius: 15px; /* Bordas arredondadas */
  overflow: hidden; /* Garante que as bordas arredondadas funcionem corretamente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional para destacar os cards */
}

.image-card img {
  width: 100%;
  height: 100%; 
}


@media (max-width: 600px) {
  .contact-container {
    padding: 10px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 14px;
  }

  .submit-btn {
    font-size: 16px;
  }
}

@media screen and (max-width: 1027px){
  .cards {
    flex-direction: column;
    justify-content: center;
    gap: .625rem;
  }
}

@media screen and (max-width: 756px){
  .newsletter {
    flex-direction: column;
    justify-content: center;
  }

  .news-left {
    width: 100%;
  }
}

@media screen and (max-width: 556px){
  .news-rigth {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .slider-container {
    width: 100%;
  }

  .modal-content {
    overflow-y: auto;
  }

}

@media screen and (max-width: 457px) {
  .icon-adm {
    display: none;
    justify-content: center;
    text-align: center;
  }

  nav {
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .cards-carteira {
  justify-content: center;
}
}





